
### Python template
# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class
*.pyc
*/migrations
*.sqlite3

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

production.py

